body {
  background-color: #1F618D;
}

#add-card-btn {
  margin-left: 2em;
  min-width: 15%;
  min-height: 2em;
}

.lists {
  background-color: #5DADE2;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  min-width: 17%;
  height: 50em;
  margin: 0.5em;
}

.cards {
  background-color: #D4E6F1;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.3em;
}

.comments-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-span {
  display: flex;
  flex-direction: column;
  max-width: 95%;
}