body {
  background-color: #1F618D;
  /* box-sizing: border-box; */
}

#App {
  display: flex;

}

.lists {
  background-color: #5DADE2;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 17%;
  /* padding: 2em; */
  margin: 2em;
}

.cards {
  background-color: #D4E6F1;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}